.DS_Store
*.pyc
*.pyc
eyetracker/__pycache__/pupil.cpython-39.pyc
eyetracker/__pycache__/pupil.cpython-39.pyc
eyetracker/__pycache__/pupil.cpython-39.pyc
eyetracker/__pycache__/pupil.cpython-39.pyc
eyetracker/__pycache__/calibration.cpython-312.pyc
eyetracker/__pycache__/calibration.cpython-312.pyc
eyetracker/__pycache__/calibration.cpython-39.pyc
eyetracker/__pycache__/eye.cpython-39.pyc
eyetracker/__pycache__/gaze_tracking.cpython-312.pyc
eyetracker/__pycache__/gaze_tracking.cpython-39.pyc
eyetracker/__pycache__/OWLET_GUI.cpython-310.pyc
eyetracker/__pycache__/OWLET_GUI.cpython-313.pyc
eyetracker/__pycache__/OWLET_GUI.cpython-38.pyc
eyetracker/__pycache__/OWLET_GUI.cpython-39.pyc
eyetracker/__pycache__/pupil.cpython-312.pyc
eyetracker/__pycache__/pupil.cpython-39.pyc
eyetracker/__pycache__/run_owlet.cpython-312.pyc
eyetracker/__pycache__/run_owlet.cpython-38.pyc
eyetracker/__pycache__/run_owlet.cpython-39.pyc
