altgraph==0.17.4
audioread==3.0.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
decorator==5.1.1
dlib==19.24.4
ffmpeg==1.4
idna==3.7
imutils==0.5.4
joblib==1.4.0
lazy_loader==0.4
librosa==0.10.1
llvmlite==0.42.0
macholib==1.16.3
numba==0.59.1
numpy==1.26.4
opencv-python==4.9.0.80
packaging
pandas==2.2.2
pillow==10.3.0
platformdirs==4.2.0
pooch==1.8.1
pycparser==2.22
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
scikit-learn==1.4.2
scipy==1.13.0
semantic-version==2.10.0
setuptools==69.5.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.7
threadpoolctl==3.4.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
